{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" {% static 'css/footer.css' %}" />
  </head>
  <body>
    <div class="footer">
      <section class="footer-left">
        <p>Copyright &copy; - All rights reserved</p>
      </section>
        <div class="footer-right">
          <p class="big-screen-p"> Follow us: </p>
          <p class="small-screen-p"> Follow:</p>
          <a href="https://www.facebook.com/profile.php?id=100063754110776" 
                  target="_blank">
            <img src="{% static 'images/facebook.png' %} " alt="facebook">
          </a>
          <p class="website-by"> Website by: DBT Tech</p>
        </div>
    </div>
  </body>
</html>
